
.carousel{
    background: rgb(148, 45, 45);
    /* margin-top:10px; */
    z-index: -1;
  }
.carousel-cell {
    width: 471px;
    height: 471px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
    z-index: -1;
  }
  
  /* cell number */
  .carousel-cell:before {
    display: none;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 100px;
    font-size: 80px;
    color: white;
    
  }
  .flickity-viewport{
    background-color:white;
    margin-top:50px;
    padding-left:10px;
  }
  /* ------------------------------------------------------------------------------------- */
*{
    margin: 0px;
    padding: 0px;
}
.banner{
    width: 100%;
    margin-top: 5PX;
    
}
.banner img{
    width: 100%;
}
#cards{
    display: flex;
    width: 90%;
    margin: auto;
}
#cards div{
    margin: auto;
    margin-top: 1%;
    
}
#cards img{
    height: 174px;
    width: 125px;
}
#cards p{
    font-family:montserrat, sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.05px;
    text-align: center;
    margin-top:  19px;
    margin-bottom: 19px;
}
.banner-in-row{
    display: flex;
}
.banner-in-row img{
    width: 640px;
    cursor: pointer;
}
#P-categories{
    font-family:montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    margin-top:  19px;
    margin-bottom: 19px;
}
#popular-categ{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
#popular-categ div{
    height: 311px;
    width: 211px;
}
#popular-categ img{
    width: 100%;
}
.Biggest{
    text-align: center;
    font-family:montserrat, sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    height: 22px;

}
.gang{
    width: 100%;
    text-align: center;
    font-family:montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top:  19px;
    margin-bottom: 19px;
}
#gangs-favourite{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 7px;
    margin-top:  19px;
    margin-bottom: 19px;
}
#gangs-favourite div img{
    width: 100%;
}
.CATEGORIES-BAG{
    width: 100%;
    text-align: center;
    font-family:montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top:  19px;
    margin-bottom: 19px;
}
.bag-cards{
    display: flex;
    width: 100%;
}
.bag-cards div{
    width: 16%;
    height: 311.11px;
    margin: auto;
}
.bag-cards img{
    width: 100%;
}

/* -----------------------carousel start from here----------------------------------------- */
.item div{
    width: 90%;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.item button{
    background-color: rgb(249, 88, 174);
    color: white;
    border: 1px solid gray;
    width: 80px;
    border-radius: 2px;
}
.item p{
    font-size: 12px;
    line-height: 12px;
    color: gray;
    padding-left: 2px;
}
.item .biggest{
    height: 275px;
    width: 80%;
}
.item .price{
    font-weight: bold;
    word-spacing: 0px;
    margin-right: 3px;
}
.item del{
    color: gray;
    margin-right: 5px;
}
.item .discount{
    color: green;
}
/* -----------------------------footerstarted------------------------------------------ */
#footer{
    width: 100%;
    background-color: #181818;
    padding-left: 0px;
}#footer #logo{
    width: 90px;
    height: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}
.subfooter{
    display: flex;
}
.sub2div{
    color: white;
    width: 20%;
    margin: auto;
    height: 200px;
}
.sub2div h4{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 18px;
    color: #FDD835;
    font-weight: 100;
}
.sub2div button{
    
    background-color:  #FDD835;
    height: 25px;
    width: 100px;
    border: 0px;
}
.sub2div p{
    line-height: 18px;
    letter-spacing: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.sub2div2 .imges{
    height: 30px;
    width: 60px;
    
}
.sub2div2{
    width: 30%;
    margin: auto;
    margin-top: 50px;
}
.sub2div2 p{
    line-height: 18px;
    letter-spacing: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
}
.sub2div2 p:hover{
    cursor: pointer;
    font-size: large;
}
.sub2div p:hover{
    cursor: pointer;
    font-size: large;
}
.sub2div2 h4{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 18px;
    color: #FDD835;
    font-weight: 100;
}
.sub2div2 img{
    height: 15px;
    width: 100px;
}
hr{
    line-height: 20px;
    color: wheat;
    width: 90%;
    padding-left: 0px;
    
    margin-left: 0px;
    background-color: wheat;
    margin-top: 30px;
    margin-bottom: 30px;
}
#bottom{
    width: 90%;
    height: 500px;
    display: flex;
   
    margin-top: 0px;
    
}
#bottom h3{
    color: white;
    margin-bottom: 40px;
    font-weight: 700;
}
#bottom a{
    text-decoration: none;
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 100;
    
}
#bottom a:hover{
    font-size: large;
}
#bottom div{
    width: 22%;
    margin: auto;
    height: 300px;
    margin-top: 0px;
}
#bottom .blue{
    color: #51cccc;
    margin-bottom: 10px;
}
h3 {
    color: white;
}
p{
color: white;
font-family: sans-serif;
word-spacing: 0px;
margin-left: 2px;
}
/* ------------------------------------------footerEnd----------------------------------- */
/* nav CSS */
nav {
    display: flex;
    align-items: center;
    background-color:white;
    /* border: rgb(0, 251, 255) solid 3px; */
    width: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
nav #logo {
    height: 60px;
    margin-right: 1em;
    margin-left: 10em;
    /* border: red solid 3px; */

}
nav #main {
    display: flex;
    list-style: none;
    margin: 5;
    padding: 5;
    /* border: rgb(26, 255, 0) solid 3px; */
}
nav #main>li {
    flex: 1;
    text-align: center;
    /* border: rgb(0, 128, 255) solid 3px; */
    margin-right:20px;
    
}
nav #main>li>a {
    color: black;
    display: block;
    padding: 1em 5;
    text-decoration: none;
    /* margin-left: 50px; */
    /* border: rgb(236, 13, 252) solid 3px; */
    font-family: Bahnschrift;
    font-size: 15px;
    margin: auto;
}
nav ul li:hover {
    background-color:#fdd835;
    border-radius: 0px;


}
#search input{
    margin-left: 100px;
    /* border: rgb(0, 0, 0) solid 1px; */
    border-radius: 5px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-flow: row wrap;
    font-family: Bahnschrift;

}
nav form {
    flex: 1;
    margin-left: 1em;
}
nav input[type="text"] {
    background-color: #fff;
    border: none;
    padding: 0.5em;
    width: 80%;
}
nav input[type="submit"] {
    background-color: #0091ea;
    border: none;
    color: #fff;
    padding: 0.5em;
    width: 20%;
}
#bag1{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute ; right:230px; top:28px ; 
}
#bag2{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute ; right:190px; top:26px ;
}
#bag3{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute ; right:130px; top:20px ;
}
#login{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: rgb(26, 255, 0) solid 3px; */
    position: absolute ; right:270px; top:33px ;
}
#login>li {
    flex: 1;
    text-align: center;
    /* border: rgb(0, 128, 255) solid 3px; */
    margin-right:0px;

}
#login>li>a {
    color: black;
    display: block;
    padding: 1em 5;
    text-decoration: none;
    /* margin-left: 50px; */
    /* border: rgb(236, 13, 252) solid 3px; */
    font-family: Bahnschrift;
    font-size: 15px;

    margin: auto;
}
#nav2{
    margin-top: 1px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.tex{
    margin: auto;
    margin-left: 100px;
}
#text{
    margin-left: 300px;
}
#main li.dropdown {
    display: inline-block;
  }
  
  #main .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Bahnschrift;
  }
  
  #main .dropdown-content .column {
    float: left;
    width: 33.33%;
    padding: 0 10px;
    font-family: Bahnschrift;
  }
  
  #main .dropdown-content .column h3 {
    margin: 0;
    font-family: Bahnschrift;
  }
  
  #main .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Bahnschrift;
  }
  
  #main .dropdown-content a:hover {
    background-color: #ddd;
    font-family: Bahnschrift;
  }
  
  #main .dropdown:hover .dropdown-content {
    display: block;
    font-family: Bahnschrift;
  }
   .column h3 a{
    font-family: Bahnschrift;
   }
  
