#payment-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 110px;
  }
  
  #payment-form {
    width: 60%;
    text-align: center;
    background-color: #fdd835; /* Apple Pay yellow color */
    padding: 20px;
    border-radius: 8px;
    font-family: Bahnschrift;
  }
  
  #payment-form input[type="text"], #payment-form input[type="email"], #payment-form input[type="month"], #payment-form input[type="number"], #payment-form textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    /* font-family: Bahnschrift; */
    border-bottom: 2px solid rgb(255, 255, 255); /* Black border for input fields */
  }
  
  #payment-form #card-details {
    display: none; /* Initially hide card details */
  }
  
  #payment-form #summary-card-details {
    display: none; /* Initially hide card details in order summary */
  }
  
  #payment-form select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255); /* Black border for select field */
    background-color: #fff; /* White background for select field */
  }
  
  #payment-form input[type="submit"] {
    width: 30%;
    background-color:#fdd835; /* Apple Pay yellow color */
    color: rgb(0, 0, 0); /* Black text */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Bahnschrift;
  }
  
  #payment-form input[type="submit"]:hover {
    background-color: #e6b800; /* Darker shade of Apple Pay yellow color */
  }
  
  #order-summary {
    width: 40%;
    background-color: #fff3e6; /* Apple Pay yellow color */
    padding: 20px;
    text-align: left;
    border-radius: 8px;
    font-family: Bahnschrift;
 
  }
  
  #order-summary h2 {
    margin: 0;
    color: #000; /* Black text */
  }
  
  #order-summary p {
    margin: 0;
    color: #000; /* Black text */
  }
  