nav {
    display: flex;
    align-items: center;
    background-color:white;
    /* border: rgb(0, 251, 255) solid 3px; */
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
nav #logo {
    height: 60px;
    margin-right: 1em;
    margin-left: 10em;
    width: 12%;
    /* border: red solid 3px; */

}

nav #main {
    display: flex;
    list-style: none;
    margin: 5;
    padding: 5;
    /* border: rgb(26, 255, 0) solid 3px; */
}
nav #main>li {
    flex: 1;
    text-align: center;
    /* border: rgb(0, 128, 255) solid 3px; */
    margin-right:20px;
    
}
nav #main>li>a {
    color: black;
    display: block;
    padding: 1em 5;
    text-decoration: none;
    /* margin-left: 50px; */
    /* border: rgb(236, 13, 252) solid 3px; */
    font-family: Bahnschrift;
    font-size: 15px;
}
nav ul li a:hover {
    background-color:grey;
    border-radius: 5px;

}
#search input{
    margin-left: 100px;
    /* border: rgb(0, 0, 0) solid 1px; */
    border-radius: 10px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-flow: row wrap;

}
nav form {
    flex: 1;
    margin-left: 1em;
}
nav input[type="text"] {
    background-color: #fff;
    border: none;
    padding: 0.5em;
    width: 80%;
}
nav input[type="submit"] {
    background-color: #0091ea;
    border: none;
    color: #fff;
    padding: 0.5em;
    width: 20%;
}
#bag1{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute ; right:230px; top:28px ; 
}
#bag2{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute ; right:190px; top:26px ;
}
#bag3{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute ; right:130px; top:20px ;
}
#login{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: rgb(26, 255, 0) solid 3px; */
    position: absolute ; right:270px; top:33px ;
}
#login>li {
    flex: 1;
    text-align: center;
    /* border: rgb(0, 128, 255) solid 3px; */
    margin-right:0px;

}
#login>li>a {
    color: black;
    display: block;
    padding: 1em 5;
    text-decoration: none;
    /* margin-left: 50px; */
    /* border: rgb(236, 13, 252) solid 3px; */
    font-family: Bahnschrift;
    font-size: 15px;
}

  /* cell number */
 
  #container{
    width: 100%;
    margin: auto;
  }
  #top{
    width: 100%;
    margin: auto;
    justify-content: center;
    
}
img{
    width: 100%;
}
.top2{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    justify-content: space-around;
}
.top2>img{
    width: 10%;
    justify-content: center;
    
}
.top{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
#mid{
    margin: auto;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
      
}
#mid>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: px;
}
.middle{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}