h3{
    font-family: sans-serif;
    font-weight: bolder;
    word-spacing: 0px;
   }
   #main{
    width: 70%;
    margin: auto;
    display: flex;
   }
   #discription{
    width: 30%;
    margin: auto;
    /* border: 1px solid rgb(173, 186, 173); */
   }
   #product{
    width: 60%;
    font-family: Bahnschrift;
   
    
   }
   #notification{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: #FCFFEE;
    display: flex;
    margin-bottom: 10px;
    
   }
   #notification p{
   margin-top: 0px;
   margin-left: 20px;
   padding-top: 7px;
   font-family: Montserrat;
   word-spacing: 0px;
   /* padding: 20px; */
   font-family: Bahnschrift;
   }
   #notification img{
    width: 30px;
    height: 25px;
    padding-top: 7px;
    padding-left: 7px;
   }
   #save{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: #FDD835;
    margin-top: 0px;
    padding: 0px;
   }
   #save p{
    margin-top: 0px;
    margin-left: 20px;
    padding-top: 7px;
    font-family: Montserrat;
    word-spacing: 0px;
    font-family: Bahnschrift;
    }
    .save2{
    width: 100%;
    border-radius: 5px;
    /* border: 1px solid rgb(201, 13, 13); */
    margin-bottom: 10px;
    background-color: #dfddd2;
    }
    .save2 p{
        word-spacing: .5px;
        line-height: 20.16px;
        text-decoration: rgb(45, 45, 45);
        padding: 10px;
        font-family: Bahnschrift;


    }
    #pricesummary{
        height: 40px;
        width: 100%;
        background-color: lightgrey;  
    }
    #pricesummary h5{
        margin-left: 20px;
        margin-top: 5px;
        padding-top: 5px;
        font-family: Bahnschrift;
    }
    #item{
        width: 100%;
        display: flex;
        
        border: 1px solid rgba(155, 165, 155, 0.813);
        margin-bottom: 0px;
    }
    #iname{
        width: 80%;
        height: 90%;
        border: 1px solid rgb(188, 183, 183);
    }
    #iname p{
        font-family: sans-serif;
        text-decoration: solid rgb(51, 51, 51);
        font-size: 14px;
        color: gray;
        margin-left: 20px;
        font-family: Bahnschrift;
    }
    #iamt{
        width: 20%;
        height: 90%;
        border: 1px solid blueviolet
    }
    #iamt p{
        font-family: sans-serif;
        text-decoration: solid rgb(51, 51, 51);
        font-size: 14px;
        color: gray;
        margin-left: 20px;
        font-family: Bahnschrift;
    }
    #DIV1{
        height: 50px;
        width: 100%;
        display: flex;
        margin-top: 0px;
    }
    #DIV2{
        width: 30%;
        height: 100%;
        font-family: Bahnschrift;
    }
    #DIV3{
        background-color: #42A2A2;
        width: 70%;
        height: 100%;
        border-radius: 10px;
        color: antiquewhite;
        text-decoration: none;
        margin-top: 10px;
    }
    #DIV3 p{
        text-align: center;
        word-spacing: 1px;
        font-family: sans-serif;
        font-family: Bahnschrift;

    }
    .appendproduct{
        display: flex;
        width: 100%;
        /* border: 1px solid #b4b3b1; */
        background-color: #dfddd2;
        border-radius: 5px;
    }
    .dataele{
        width: 70%;
        height: 190px;
        padding-left: 10px;
    }
    .eleimg{
        height: 190px;
        width: 30%;
    }
    .eleimg img{
        width: 100%;
        height: 100%;
    }
    .rvbtn{
        display: block;
        margin-top: 6px;
        padding: 5px;
        background-color: #42A2A2;
        border-radius: 10px;
        color: antiquewhite;
        text-decoration: none;
    }
    #mybag{
        text-align: center;
        font-size: 50px;
        font-family: Bahnschrift;
        background-color: #FDD835;
    }