nav {
    display: flex;
    align-items: center;
    background-color:white;
    /* border: rgb(0, 251, 255) solid 3px; */
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
nav #logo {
    height: 60px;
    margin-right: 1em;
    margin-left: 10em;
    width: 12%;
    /* border: red solid 3px; */

}

nav #main {
    display: flex;
    list-style: none;
    margin: 5;
    padding: 5;
    /* border: rgb(26, 255, 0) solid 3px; */
}
nav #main>li {
    flex: 1;
    text-align: center;
    /* border: rgb(0, 128, 255) solid 3px; */
    margin-right:20px;
    
}
nav #main>li>a {
    color: black;
    display: block;
    padding: 1em 5;
    text-decoration: none;
    /* margin-left: 50px; */
    /* border: rgb(236, 13, 252) solid 3px; */
    font-family: Bahnschrift;
    font-size: 15px;
}
nav ul li a:hover {
    background-color:grey;
    border-radius: 5px;

}
#search input{
    margin-left: 300px;
    /* border: rgb(0, 0, 0) solid 1px; */
    border-radius: 10px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-flow: row wrap;

}
nav form {
    flex: 1;
    margin-left: 1em;
}
nav input[type="text"] {
    background-color: #fff;
    border: none;
    padding: 0.5em;
    width: 80%;
}
nav input[type="submit"] {
    background-color: #0091ea;
    border: none;
    color: #fff;
    padding: 0.5em;
    width: 20%;
}
#bag1{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute ; right:230px; top:28px ; 
}
#bag2{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute ; right:190px; top:26px ;
}
#bag3{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 0px;
    position: absolute ; right:130px; top:20px ;
}
#login{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: rgb(26, 255, 0) solid 3px; */
    position: absolute ; right:270px; top:33px ;
}
#login>li {
    flex: 1;
    text-align: center;
    /* border: rgb(0, 128, 255) solid 3px; */
    margin-right:0px;

}
#login>li>a {
    color: black;
    display: block;
    padding: 1em 5;
    text-decoration: none;
    /* margin-left: 50px; */
    /* border: rgb(236, 13, 252) solid 3px; */
    font-family: Bahnschrift;
    font-size: 15px;
}

  /* cell number */
 
.carousel{
    background: rgb(148, 45, 45);
    margin-top:90px;
    z-index: -1;
  }
.carousel-cell {
    width: 471px;
    height: 471px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
    z-index: -1;
  }
  
  /* cell number */
  .carousel-cell:before {
    display: none;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 100px;
    font-size: 80px;
    color: white;
    
  }
  .flickity-viewport{
    background-color:white;
    margin-top:50px;
    padding-left:10px;
  }
  #container{
    width: 100%;
    margin: auto;
  }
  #top{
    width: 100%;
    margin: auto;
    justify-content: center;
    
}
img{
    width: 100%;
}
.top2{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    justify-content: space-around;
}
.top2>img{
    width: 10%;
    justify-content: center;
    
}
.top{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
#mid{
    margin: auto;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
      
}
#mid>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: px;
}
.middle{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#footer{
    width: 100%;
    background-color: #181818;
    padding-left: 0px;
}#footer #logo{
    width: 90px;
    height: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}
.subfooter{
    display: flex;
}
.sub2div{
    color: white;
    width: 20%;
    margin: auto;
    height: 200px;
}
.sub2div h4{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 18px;
    color: #FDD835;
    font-weight: 100;
}
.sub2div button{
    
    background-color:  #FDD835;
    height: 25px;
    width: 100px;
    border: 0px;
}
.sub2div p{
    line-height: 18px;
    letter-spacing: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.sub2div2 .imges{
    height: 30px;
    width: 60px;
    
}
.sub2div2{
    width: 30%;
    margin: auto;
    margin-top: 50px;
}
.sub2div2 p{
    line-height: 18px;
    letter-spacing: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
}
.sub2div2 p:hover{
    cursor: pointer;
    font-size: large;
}
.sub2div p:hover{
    cursor: pointer;
    font-size: large;
}
.sub2div2 h4{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 18px;
    color: #FDD835;
    font-weight: 100;
}
.sub2div2 img{
    height: 15px;
    width: 100px;
}
hr{
    line-height: 20px;
    color: wheat;
    width: 90%;
    padding-left: 0px;
    
    margin-left: 0px;
    background-color: wheat;
    margin-top: 30px;
    margin-bottom: 30px;
}
#bottom{
    width: 90%;
    height: 500px;
    display: flex;
   
    margin-top: 0px;
    
}
#bottom h3{
    color: white;
    margin-bottom: 40px;
    font-weight: 700;
}
#bottom a{
    text-decoration: none;
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 100;
    
}
#bottom a:hover{
    font-size: large;
}
#bottom div{
    width: 22%;
    margin: auto;
    height: 300px;
    margin-top: 0px;
}
#bottom .blue{
    color: #51cccc;
    margin-bottom: 10px;
}
h3 {
    color: white;
}
p{
color: white;
font-family: sans-serif;
word-spacing: 0px;
margin-left: 2px;
}
/* ------------------------------------------footerEnd----------------------------------- */